{% extends 'produtos/base.html' %}{% load admin_tags %}
{% block title %}Home | Games4Sale{% endblock %}

{% block main %}
    <!-- Home -->

    <div class="home">
        <div class="home_slider_container">

            <!-- Home Slider -->
            <div class="owl-carousel owl-theme home_slider">
                {% for game in games %}
                    <!-- Slider Item -->
                    {% if game.destaque %}
                        <div class="owl-item home_slider_item">
                            {% if game.video %}
                                <div>
                                    <iframe id="ytVideo" width="100%" height="720"
                                            src="https://www.youtube.com/embed/{{ game.video|youtube_featured|safe }}?&autoplay=1&mute=1&loop=1&rel=0&modestbranding=1&autohide=1&controls=0&showinfo=0&color=white&iv_load_policy=3&playlist={{ game.video|youtube_featured|safe }}"
                                            ?version=3?enablejsapi=1&controls=0 frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
                                            allowfullscreen></iframe>
                                </div>
                            {% else %}
                                <div class="home_slider_background"
                                     style="background-image:url({{ game.image.url }})"></div>
                            {% endif %}
                            <div class="home_slider_content_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_slider_content" data-animation-in="fadeIn"
                                                 data-animation-out="animate-out fadeOut">
                                                <div class="home_slider_title">{{ game.nome }}</div>
                                                <div class="home_slider_subtitle">{{ game.descricao }}</div>
                                                <div class="button button_light home_button"><a
                                                        href="{% url 'product_detail' pk=game.pk %}">Compre Agora</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="product_grid">
                        <!-- Product -->
                        {% for game in games|slice:":8" %}
                            <div class="product">
                                <div class="product_image"><img src="{{ game.image.url }}" alt="image-{{ game.pk }}"
                                                                style="width: 330px; height: 330px;"></div>
                                {% if game.promocao %}
                                    <div class="product_extra product_hot"><a href="#">Sale</a></div>
                                {% else %}
                                    <div class="product_extra"><a href="#"></a></div>
                                {% endif %}
                                <div class="product_content">
                                    <div class="product_title"><a
                                            href="{% url 'product_detail' pk=game.pk %}">{{ game.nome }}</a></div>
                                    <div class="product_price">R$ {{ game.preco }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Ad -->
    {% for game in games %}
        {% if game.propaganda %}
            <div class="avds_xl">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="avds_xl_container clearfix">
                                <div class="avds_xl_background"
                                     style="background-image:url({{ game.image.url }})"></div>
                                <div class="avds_xl_content">
                                    <div class="avds_title">{{ game.nome }}</div>
                                    <div class="avds_text"
                                         style="display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">{{ game.descricao }}</div>
                                    <div class="avds_link avds_xl_link"><a href="{% url 'product_detail' pk=game.pk %}">Veja
                                        mais</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}



