{% extends 'produtos/base.html' %} {% load static %}
{% block title %}Pesquisar | Games4Sale{% endblock %}

{% block extend_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/categories_responsive.css' %}">
{% endblock %}

{% block main %}

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Product Sorting -->
                    <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                        <div class="results">Resultados da pesquisa</div>
                        <div class="sorting_container ml-md-auto">
                            <div class="sorting">
                                <ul class="item_sorting">
                                    <li>
                                        <span class="sorting_text">Ordenar por</span>
                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        <ul>
                                            <li class="product_sorting_btn"
                                                data-isotope-option='{ "sortBy": "original-order" }'><span>Padrão</span>
                                            </li>
                                            <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                                                <span>Preço</span></li>
                                            <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'>
                                                <span>Nome</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="product_grid">

                        {% for p in search %}
                            <!-- Product -->
                            <div class="product">
                                <div class="product_image"><img src="{{ p.image.url }}" alt="{{ p.nome }}-{{ forloop.revcounter0 }}" style="width: 250px; height: 250px;"></div>
                                <div class="product_content">
                                    <div class="product_title"><a href="{% url 'product_detail' pk=p.pk %}">{{ p.nome }}</a></div>
                                    <div class="product_price">{{ p.preco }}</div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="container" align="center">
        <div class="article-pagination">
            <ul>
                {% if search.has_previous %}
                    <li><a href="?page=1">&laquo; primeiro</a></li>
                    <li><a href="?page={{ search.previous_page_number }}">anterior</a></li>
                {% endif %}
                <li class="active">
                    <a> Página {{ search.number }} de {{ search.paginator.num_pages }}</a>
                </li>
                {% if search.has_next %}
                    <li><a href="?page={{ search.next_page_number }}">próximo</a></li>
                    <li><a href="?page={{ search.paginator.num_pages }}">último &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}